:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #050608;
  color: #F8FAFC;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
